<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Copy Text From Input Field</title>
        <!-- Stylesheet -->
        <style>
         * {
             padding: 0;
             margin: 0;
             box-sizing: border-box;
             font-family: "Poppins", sans-serif;
         }
         body {
             min-height: 100vh;
             background-color: #577eff;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
         }
         .container {
             background-color: #ffffff;
             padding: 10px;
             border-radius: 10px;
             margin: 10px 0;
         }
         .container input {
             font-size: 18px;
             padding: 10px;
             border-radius: 5px;
             border: 1px solid #cfcfcf;
             min-width: 400px;
         }
         .container button {
             font-size: 18px;
             padding: 10px 20px;
             background-color: #577eff;
             color: #ffffff;
             border: none;
             border-radius: 5px;
             margin-left: 10px;
             vertical-align: top;
         }
         .codebox {
             display: none;
         }
         .searcharea {
             margin-bottom: 30px;
         }

        </style>
    </head>
    <body>
        <div class="container searcharea">
            <input type="text" placeholder="പരിപാടിയുടെ തിരിച്ചറിയല്‍ സംഖ്യ നല്‍കുക" name="search" id="search" value="" />
            <button onclick="updateEventResultStatus()">സമര്‍പ്പിക്കുക</button>
        </div>
        {% regroup results by event as events_results %}
        {% for event_result in events_results %}
            <div id="{{ event_result.grouper.event_id }}" class="codebox">
            <h2 style="color:white; max-width:600px;">{{ ssk_no}}-ാമത് സ്കൂൾ കലോത്സവത്തിൽ {{ event_result.grouper.school_level_ml }} വിഭാഗം  {{ event_result.grouper.event_lang|default='' }} {{ event_result.grouper.event_name_ml }} മത്സരത്തിലുള്ള രചനകൾ - {{ event_result.grouper.event_id }}</h2>
                <div class="container">
                <textarea id="{{ event_result.grouper.event_id }}_text" rows="10" cols="62" value="" />{% if event_result.grouper.event_type == 'Vara' %}{% for individual_result in event_result.list %}mv {{ individual_result.codeno }}.jpg 'SSK{{ ssk_year }}_{{ event_result.grouper.event_id }}_{{ event_result.grouper.school_level }}_{{ individual_result.grade }}_{{ individual_result.codeno }}_{{ individual_result.schoolid }}.jpg'{% if not forloop.last %};&#13;&#10;{% endif %}{% endfor %}{% elif event_result.grouper.event_type == 'Rachana' %}{% for individual_result in event_result.list %}mv {{ individual_result.codeno }}.pdf 'SSK{{ ssk_year }}_{{ event_result.grouper.event_id }}_{{ event_result.grouper.school_level }}_{{ individual_result.grade }}_{{ individual_result.codeno }}_{{ individual_result.schoolid }}.pdf'{% if not forloop.last %};&#13;&#10;{% endif %}{% endfor %}{% endif %}</textarea>
                </div>
            </div>
        {% endfor %}
    </body>
    <script>
     async function updateEventResultStatus() {
         let event_id = document.getElementById("search").value;
         try {
             const response = await fetch({% url "rename-script" %}, {
                 method: "POST",
                 headers: {
                     "Content-Type": "application/json",
                     'X-CSRFToken': "{{  csrf_token }}",
                 },
                 body: JSON.stringify({event_id}),
             })
             const result = await response.json();
             for (let el of document.querySelectorAll('.codebox')) el.style.display = 'none';
             document.getElementById(event_id).style.display = "block";
             document.getElementById(event_id+"_text").select();
             document.execCommand("copy");

         } catch (error) {
             console.error("Error:", error);
         }
     }
    </script>
</html>
